.header {
  width: 70vw;
  min-height: 80px;
  min-width: 970px;
  backdrop-filter: blur(0px) saturate(100%);
  -webkit-backdrop-filter: blur(0px) saturate(100%);
  background-color: rgba(214, 252, 250, 0.45);
  border-radius: 30px;
  border: 2px solid rgba(125, 179, 192, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  margin: 5vh 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_p {
  display: flex;
  height: 100%;
  width: 90%;
}
.header_p1 {
  height: 100%;
  display: flex;
  align-items: center;
  h1 {
    margin: 0px 50px 0px 35px;
    font-family: "Oldenburg", serif;
    font-weight: 900;
    font-style: normal;
    opacity: 0.85;
    cursor: pointer;
  }
}
.header_p2 {
  height: 100%;
  width: 70%;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: visible;
  scroll-behavior: smooth;
}
.header_p3 {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 30px;
  img {
    height: 40px;
    aspect-ratio: 1/1;
    opacity: 0.7;
    margin: 10px;
  }
}
.mode {
  height: 40px;
  width: clamp(130px, 10vw, 250px);
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oldenburg", serif;
  font-weight: 900;
  font-style: normal;
  opacity: 0.7;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.mode:hover {
  transform: scale(0.97);
}
.mode.active {
  border: 2px solid rgba(0, 0, 0, 0.5);
  transform: scale(0.97);
}

@media screen and (max-width: 970px) {
  .header {
    width: 92vw;
    min-width: 100px;
  }
  .header_p1 h1 {
    margin-right: 50px;
  }
  .header_p2 {
    width: 58%;
  }
}

@media screen and (max-width: 840px) {
  .header_p2 {
    width: 45%;
  }
}

@media screen and (max-width: 715px) {
  .header_p1 {
    width: 55%;
    h1 {
      font-size: 1.8;
      margin: 0px 35px;
    }
  }
  .header_p2 {
    width: 130px;
  }
}

@media screen and (max-width: 600px) {
  .header_p1 {
    width: 60%;
    h1 {
      font-size: 1.7em;
    }
  }
  .header_p2 {
    width: 110px;
  }
  .header_p3 {
    img {
      height: 35px;
    }
  }
  .mode {
    height: 35px;
    width: 110px;
    font-size: 15px;
  }
}
@media screen and (max-width: 510px) {
  .header_p1 {
    h1 {
      margin: 0px 20px;
    }
  }
}
@media screen and (max-width: 470px) {
  .header {
    height: 70px;
    min-height: 75px;
  }
  .header_p3 {
    display: none;
    width: 0px;
    margin: 0px;
  }
  .header_p1 {
    width: 62%;
    h1 {
      font-size: 1.5em;
      margin: 0px 20px;
    }
  }
}
