#root {
  min-height: 100vh;
  min-width: 100vw;
  background: url("./assets/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
